*, *::before, *::after {
    box-sizing: border-box;
    font-family: Viga;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background: whitesmoke;
	height: 637px;
  }
  
  .calculator-grid {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: fixed;
	background: rgba(0,0,0,0.4);
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px;
  }
  
  .calculator-grid > button {
    width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	border: none;
	background: #607d8b;
	color: white;
	border-radius: 25px;
  }
  
  .calculator-grid > button:hover {
    background:lightgreen;
	color:#607d8b;
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    width: 204px;
	margin: 4px;
	font-size: 20px;
	padding: 10px;
	border: none;
	color: #607d8b;
	border-radius: 25px;
	text-align: right;
  }
  
  .output .previous-operand {
    color: #607d8b(0,0, 0, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: #607d8b;
    font-size: 2.5rem;
  }