*, *::before, *::after {
  box-sizing: border-box;
  font-family: Viga;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(img/cloud.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  background-color: rgba(0,0,0,0.4);
  border: 5px outset #c2c3c7;
  border-radius: 15px;
  box-shadow: 0 0 15px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px outset white;
  outline: none;
  background-color: #607d8b(255, 255, 255, .75);
  border-radius: 25px;
  margin: 1.5vh;
}

.calculator-grid > button:hover {
  background:lightgreen;
  color:#607d8b;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 25px;
}

.output .previous-operand {
  color:  #607d8b(0,0, 0, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: black;
  font-size: 2.5rem;
}